[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyxdftools = {editable = true, path = "."}

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
pytest = "*"
pytype = "*"

[requires]
python_version = "3.11"
